body {
  font-family: Fira Sans,Open Sans,sans-serif;
  margin: 0;
  padding: 0;
  /*background-color: #e9fcc6;*/
}
h1 {
  text-align: center;
  color: white;
  background-color: black;
}
section {
  margin: 20px;
  background-color: white;
}
section > p {
  text-align: center;
  color: white;
  background-color: gray;
}
#dashboards {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.graph-container {
  /*width: 45vw;*/
}
.graph-title {
  text-decoration: underline;
}
